[submodule "TLuigi1/balianza"]
	path = TLuigi1/balianza
	url = git@github.com:TLuigi1/balianza.git
	branch = main

[submodule "xmarts/xma-detail-pdv-alianza"]
	path = xmarts/xma-detail-pdv-alianza
	url = git@github.com:xmarts/xma-detail-pdv-alianza.git
	branch = 14.0
[submodule "point-of-sale-settings"]
	path = point-of-sale-settings
	url = git@github.com:xmarts/point-of-sale-settings.git

[submodule "xmarts/xma-delivery-alianza"]
	path = xmarts/xma-delivery-alianza
	url = git@github.com:xmarts/xma-delivery-alianza.git
	branch = 14.0